DATABASE_URL="postgresql://usuario:senha@host/banco?sslmode=require&pgbouncer=true"
DATABASE_URL_UNPOOLED="postgresql://usuario:senha@host/banco?sslmode=require"

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

AUTH_SECRET=

NEXTAUTH_URL=https://seu-dominio.com
